#Detail {
  display: none;
}

#Detail .header-row,
#Detail .data-row {
  grid-template-columns: 150px 1fr 1fr;
}

#Detail .data-row:not(:last-child) {
  border-bottom: 1px solid #888;
}

#Detail .header-cell:not(:last-child),
#Detail .data-cell:not(:last-child) {
  border-right: 1px solid #888;
}

#Detail .data-cell:first-child {
  font-weight: bold;
}

#Detail .data-row.rowspan-2 {
  grid-template-columns: 150px auto;
}

#Detail .child-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#Detail .child-row:nth-child(even) {
  background-color: #f9f1df;
}

#Detail .child-row.result {
  grid-template-columns: 1fr;
  background-color: #cd736355;
  border-radius: 0 0 18px 0;
}

#Detail .child-row .child-cell {
  padding: 15px;
}

#Detail .child-row .child-cell:not(:last-child) {
  border-right: 1px solid #888;
}

#Detail .child-row:not(:last-child) .child-cell {
  border-bottom: 1px solid #888;
}

#Detail .child-row.result .child-cell {
  text-align: center;
}

@media (max-width: 578px) {
  #Detail .header-row,
  #Detail .data-row {
    grid-template-columns: 110px 1fr 1fr;
  }
  #Detail .data-row.rowspan-2 {
    grid-template-columns: 110px auto;
  }
  #Detail .child-row .child-cell {
    padding: 10px;
  }

  #Detail .header-row {
    font-size: 1.05rem;
  }

  #Detail .header-cell,
  #Detail .data-cell {
    padding: 10px;
  }
}
