.container {
    margin-top: 80px;
    max-width: 800px;
}

.btn-primary {
    width: 100%;
    margin-top: 20px;
}

.form-control {
    padding: 0.7rem 1rem;
    margin-bottom: 15px;
    border-radius: var(--bs-border-radius-lg);
    background: transparent;
    border-color: #555;
}

.form-group label {
    position: relative;
    font-size: 1rem;
    color: #535c48;
    font-weight: bold;
}

.form-control:focus {
    background: transparent;
}

.modal-body {
    width: 100%;
}

.cropper-container {
    width: 100% !important;
    height: 600px !important;
}