#List .data-cell:last-child {
  justify-content: center;
}

#List .data-row {
  background-color: #f9f1df;
  cursor: pointer;
}

#List .data-row:not(:last-child) {
  border-bottom: 1px solid #888;
}

#List .data-row.undone {
  background-color: transparent;
  cursor: not-allowed;
}

.delBtn {
  cursor: pointer;
}

.pageBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #List .header-row {
    font-size: 1rem;
  }
  .header-cell,
  .data-cell {
    padding: 10px;
  }
  .header-row,
  .data-row {
    grid-template-columns: 1fr 1fr 1fr 70px 85px 55px;
  }
}

@media (max-width: 578px) {
  #List .header-row {
    display: none;
  }

  #List .data-row {
    grid-template-columns: 1fr;
    position: relative;
    padding: 10px;
  }

  #List .data-row.first {
    border-radius: 20px 20px 0 0;
  }

  #List .data-cell {
    padding: 5px 10px;
    gap: 20px;
  }

  #List .data-cell:last-child {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  #List .data-cell:not(:last-child) {
    border-right: none;
  }

  #List .data-cell:before {
    font-weight: bold;
    color: #535c48;
    width: 90px;
  }

  #List .data-cell:nth-of-type(1):before {
    content: "名字: ";
  }

  #List .data-cell:nth-of-type(2):before {
    content: "身份字號: ";
  }

  #List .data-cell:nth-of-type(3):before {
    content: "生日: ";
  }

  #List .data-cell:nth-of-type(4):before {
    content: "是否黑名單: ";
  }

  #List .data-cell:nth-of-type(5):before {
    content: "處理狀態: ";
  }

  .delBtn > div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #535c48;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  }
}
